<template>

<!--https://regenrek.com/posts/how-to-create-an-animated-vue-sidebar-menu-with-vue-observable/-->
<!-- copiar do site123 o layout do carrinho -->
<div class="sidebar">
        <div class="sidebar-backdrop" @click="closeSidebarPanel()" v-if="$store.state.global.SideBarAtiva"></div>
        <transition name="slide">
            <div v-if="$store.state.global.SideBarAtiva" class="sidebar-panel">
                <div class="TituloEFechar">
                    <p class="Titulo">Meus desejos</p>
                    <img @click="closeSidebarPanel()" class="IconeFechar" src="close-thick.png" alt="close-thick">
                </div>
                <slot></slot>
            </div>
        </transition>
</div>
   
</template>

<script>




export default {
    name: "SideBarDireita",
    props : {
      
    },
    components: {
                
                
    },
    computed: {
        
        
    },
    data() {
        return {
            
        }
    }, // data
     methods: {
         closeSidebarPanel() {
              this.$store.dispatch('global/CommitSideBarAtiva',false);
          }
          
        
       
     },
     created() {

     },
     mounted(){ 
          
         
     },
  

}
</script>

<style scoped>

body {
  font-family: "Lato", sans-serif;
}
    .slide-enter-active,
    .slide-leave-active
    {
        transition: transform 0.6s ease;
    }

    .slide-enter,
    .slide-leave-to {
        transform: translateX(100%);
        transition: all 200ms ease-in 0s
    }

    .IconeFechar{
        cursor: pointer;
    }

    .TituloEFechar{
        display: flex;
        justify-content:space-between;
        align-items:center;
        width: 100%;    
        height: 50px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: rgb(235, 109, 109);
    }

    .Titulo{
        color: white;
        font: 1.1rem verdana, arial, tahoma, sans-serif;
    }

    .sidebar-backdrop {
        background-color: rgba(0,0,0,.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .sidebar-panel {
         -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
        -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
        box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);
        overflow-y: auto;
        background-color: #f5f5f5;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 999;
        
        width: 350px;
    }

 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>