<template>

   <!--https://www.w3schools.com/howto/howto_js_dropdown.asp -->

<div class="dropdown" @click="SelecaoMenu()">
    
    <div id="btdrop" class="dropbtn">
       <img class="Avatar" src="user.png" alt="Avatar">
       <img class="SetaDrop" src="chevron-down.png" alt="seta baixo">
   </div>
    <div id="myDropdown" class="dropdown-content">
        <div class="ItemMenu">Meus pedidos</div>
        <div class="ItemMenu">Meus dados</div>
        <hr class="solid">
        <div class="ItemMenu">Sair</div>
    </div>
</div>
   
</template>

<script>




export default {
    name: "MenuLogado",
    props : {
       
    },
    components: {
                
                
    },
    computed: {
        
        
    },
    data() {
        return {
            
        }
    }, // data
     methods: {
        
        SelecaoMenu(){
           if (this.$store.state.global.InputPesquisaAberta) 
               this.$store.dispatch('global/CommitInputPesquisaAberta',false);
        },
        
     },
     created() {

     },
     mounted(){ 
        window.addEventListener("click",function(event){ 
            if (!document.getElementsByClassName('dropbtn')[0].contains(event.target)){
               
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                   openDropdown.classList.remove('show');
                }
                }
            } else {
                document.getElementById("myDropdown").classList.toggle("show");
            }

        })
     },
  

}
</script>

<style scoped>

.ItemMenu{
    padding: 10px;
    font: 0.9rem arial, tahoma, sans-serif;
    color: rgb(51, 51, 51);
}

.ItemMenu:hover{
    cursor: pointer;
    background-color: rgb(231, 231, 231)
}

.Avatar {
  border-radius: 50%;
  max-width: 35px;
  max-height: 35px;
}

.SetaDrop {
  height: 18px;
  width: 18px;
  
}

.dropbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    padding-left: 3px;
    padding-right: 3px;
   
    border-radius: 5px;
    cursor: pointer;
    
}

.dropbtn:hover, .dropbtn:focus{
    background-color: rgb(227, 240, 253);
}


.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  min-width: 180px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}


.show {display: block;}



hr.solid {
  border-top: 1px solid #bbb;
}

 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>