<template>

   <div class="TopoLogoECarrinho">
         <div class="Logo">
            <NuxtLink to="/">
            <img v-if="(($store.state.stRevenda.SiteConfiguracoes.length > 0) && 
                       ($store.state.stRevenda.ObjConfig.hasOwnProperty('logoarqservidor')) && 
                       ($store.state.stRevenda.ObjConfig.logoarqservidor.length > 5))" 
                    class="ImagemLogo" :src="$axios.defaults.baseURL + '/public/arquivos/' + $store.state.stRevenda.ObjConfig.logoarqservidor" alt="Logo" />
            </NuxtLink>  
        </div>
        <div class="MeioMenu">

        </div>
        <div class="CarrinhoLogin">
            <Carrinho  />
            <Pesquisa  />
            <MenuLogado />
        </div>    
      
  </div>
   
</template>

<script>


import MenuLogado from '~/components/Login/MenuLogado.vue'
import Pesquisa from '~/components/NavBarComp/pesquisa.vue'
import Carrinho from '~/components/NavBarComp/carrinho.vue'

export default {
    name: "TopoLogo",
    props : {
        
    },
    components: {
        MenuLogado,
        Pesquisa,
        Carrinho
                
                
    },
    computed: {
               
    },
    data() {
        return {
        
        }
    }, // data
     methods: {
          
        
       
     },
     created() {

     },
     mounted(){ 
          
        
     },
  

}
</script>

<style scoped>


.TopoLogoECarrinho{ 
    display: grid;
    grid-template-rows: 90px ;
    grid-template-columns: 250px auto 180px ;
    grid-template-areas: "logo meiomenu carrinhoelogin";

 
    height: 90px;  
    max-height: 90px; 
    width: 100%;
    background-color: white; 
    
}


.ImagemLogo{
    
    max-height: 80px;
    max-width: 250px; 
}



.Logo{
    grid-area: logo;
    display: flex ;
    align-items: center;
    justify-content:center;
    width: 100%;
  
   
}

.MeioMenu{
    grid-area: meiomenu;
    width: 100%;
  
   
}

.CarrinhoLogin{
  grid-area: carrinhoelogin ;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  
}


 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>