<template>
    <div class="ExternaCarrinho" @click="AbreOuFechaCarrinho()">
        <img class="ImgIcone" src="sacolacompras.png" alt="carrinhocompras">
    </div>
  
</template>

<script>




export default {
    name: "carrinho",
    props : {
        
    },
    components: {
                
                
    },
    computed: {
        
        
    },
    data() {
        return {
        
        }
    }, // data
     methods: {
          AbreOuFechaCarrinho() {
                if (!this.$store.state.global.SideBarAtiva) 
                    this.$store.dispatch('global/CommitSideBarAtiva',true);
                else
                    this.$store.dispatch('global/CommitSideBarAtiva',false);
          }
        
       
     },
     created() {

     },
     mounted(){ 
          
        
     },
  

}
</script>

<style scoped>

.ImgIcone{
    max-width: 25px;
    max-height: 25px;
}

.ExternaCarrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    padding-left: 8px;
    padding-right: 8px;
    
    border-radius: 5px;

    cursor: pointer;
    
}

.ExternaCarrinho:hover, .ExternaCarrinho:focus{
    background-color: rgb(227, 240, 253);
}

 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>