<template>
   <!-- https://w3bits.com/css-responsive-nav-menu/ -->
<nav id="navbarmobile">
  <div id="logo">
       <!--<img class="ImagemLogo" src="/logoprincipal.png" alt="Logo" />-->
  </div>
  <!--<div class="Telefone">
     <img src="/whatsapp.png" /> 
     <h2>98793-8479</h2>
  </div> -->
  <div class="DivExternaBurguer">
    <div @click="AbrirOuFecharMobileNav()" id="burger" >
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
    </div>
   </div>

   <div id="myNav" class="overlay" > 
              
              <!-- Button to close the overlay navigation -->
             <!-- <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>-->

               <div class="overlay-content">
                       
                      <div  v-for="categorias in $store.state.stLinkCateg.ListaLinkCategorias" :key="categorias.idcategoria" >
                        <nuxt-link class="NuxtLink" v-if="(PopulaSubCategorias(categorias.idcategoria).length === 0)" :to="{ path: '/',hash:''}">
                            <div class="ItemPadrao ItemMenuMobile" v-if="$route.path !== categorias.link" @click="ClicouLink('')">{{ categorias.categoria }}</div>
                           <!-- <div v-else class="activeItemMobile"  @click="ClicouLink(categorias.hash)">{{ categorias.name }}</div>-->
                        </nuxt-link>
                        <div class="DivExternaSubCategoria"  v-else>
                            <div @click="SelecaoDropNivel2(categorias.idcategoria)" class="ItemPadrao  CategoriaDrop">{{ categorias.categoria }}<span v-if="categorias.submenuaberto === false" class="SetaDropDown">&#9660;</span> <span v-if="categorias.submenuaberto === true" class="SetaDropDown">&#9650;</span></div>
                            
                            <div :key="keySubMenu" v-if="categorias.submenuaberto === true" class="DivExternaItensCategoria">
                                  <div  v-for="subcateg in PopulaSubCategorias(categorias.idcategoria)" :key="subcateg.idsubcategoria" > 
                                  
                                      <nuxt-link class="NuxtLink" v-if="(PopulaSub2Categorias(subcateg.idsubcategoria).length === 0)" :to="{ path: '/',hash:''}">
                                        <div class="ItemPadrao ItemMenuDropMobile"  @click="ClicouLinkDrop('')">{{ subcateg.subcategoria }}</div>
                                      <!--  <div v-else class="activeItemDropMobile"  @click="ClicouLinkDrop(subcateg.hash)">{{ subcateg.name }}</div>-->
                                      </nuxt-link>     
                                      <div class="DivExternaSub2Categoria"  v-else>
                                          <div @click="SelecaoDropNivel3(subcateg.idsubcategoria)" class="ItemPadrao SubCategoriaDrop">{{ subcateg.subcategoria }}<span v-if="subcateg.submenuaberto === false" class="SetaDropDown">&#9660;</span> <span v-if="subcateg.submenuaberto === true" class="SetaDropDown">&#9650;</span></div>
                                          
                                          <div :key="keySubMenu" v-if="subcateg.submenuaberto === true" class="DivExternaItensCategoria">
                                                <div  v-for="sub2categ in PopulaSub2Categorias(subcateg.idsubcategoria)" :key="sub2categ.idsub2categoria" > 
                                                
                                                    <nuxt-link class="NuxtLink" :to="{ path: '/',hash:''}">
                                                      <div class="ItemPadrao ItemMenuNivel3DropMobile"  @click="ClicouLinkDrop('')">{{ sub2categ.subcategoria }}</div>
                                                    <!--  <div v-else class="activeItemDropMobile"  @click="ClicouLinkDrop(subcateg.hash)">{{ subcateg.name }}</div>-->
                                                    </nuxt-link>      
                                                </div>
                                          </div>
                                      </div>   
                                  </div>
                            </div>
                        </div>                         
                      </div>
                </div>

           
      </div>
</nav>  
</template>

<script>




export default {
    name: "NavBarMobile",
    props : {
        
    },
    components: {
                
                
    },
    computed: {
        PopulaSubCategorias() {

              return (idCateg) => {
                let ArraySubCateg = []
               
                if (this.$store.state.stLinkSubCateg.ListaLinkSubCategorias !== null)
                    ArraySubCateg = this.$store.state.stLinkSubCateg.ListaLinkSubCategorias.filter(function (item) {
                                                if (item.idcategoria === idCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                return ArraySubCateg;
             }
         },
         PopulaSub2Categorias() {

              return (idSubCateg) => {
                let ArraySub2Categ = []
               
                if (this.$store.state.stLinkSub2Categ.ListaLinkSub2Categorias !== null) {
                    ArraySub2Categ = this.$store.state.stLinkSub2Categ.ListaLinkSub2Categorias.filter(function (item) {
                                                if (item.idsubcategoria === idSubCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                       
                }

                return ArraySub2Categ;
             }
         },
         
        
    },
    data() {
        return {
           burger:null, 
           keySubMenu:'keySubMenu',
           navbar:Object,
           MenuMobileAberto:false,
           lastScrollTop :0,
        }
    }, // data
     methods: {
         SelecaoDropNivel2(idcategoria) {
             let params = {idcategoria:idcategoria}
             this.$store.dispatch('global/CommitSubMenuAberto',params)
             this.keySubMenu = this.keySubMenu + 'x'
         },
         SelecaoDropNivel3(idsubcategoria) {
             let params = {idsubcategoria:idsubcategoria}
             this.$store.dispatch('global/CommitSub2MenuAberto',params)
             this.keySubMenu = this.keySubMenu + 'x'
         },
         AbrirOuFecharMobileNav() {
                 this.burger = document.getElementById('burger')
                 this.burger.classList.toggle('toggle')
                
                 if (this.MenuMobileAberto) {
                     this.MenuMobileAberto = false
                     document.getElementById("myNav").style.height = "0%"
                     
                 } else {
                       document.getElementById("myNav").style.height = "100%"
                       this.MenuMobileAberto = true;
                      
                        
                 }
          },
        ClicouLink(hash) {
        },  
        ClicouLinkDrop() {

        },
        
       
     },
     created() {

     },
     mounted(){ 
         let v = this;
        
         this.navbar = document.getElementById("navbarmobile");
         document.getElementById("myNav").style.height = "0%";


         window.addEventListener("scroll",function(){
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          
          if (v.MenuMobileAberto === false) {
              if (scrollTop > v.lastScrollTop) {
              // console.log('largura scroll em nav mobile:', v.$store.state.global.LarguraTela)
              /* if (v.larguraTela < 1024) {
                    v.navbar.style.top = "-150px"
                } else*/
                    v.navbar.style.top = "-90px"
              } else {
                v.navbar.style.top = "0px"
              }
              v.lastScrollTop = scrollTop;
          }
        })
          
         // console.log('Menu mobile')
        
     },
  

}
</script>

<style scoped>

/*   */


nav {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);

    width: 100%;
    display: grid !important;
    grid-template-rows: 90px ;
    grid-template-columns: 80% 20% !important;
    grid-template-areas: "logo menuburguer";

    height: 90px;
    font-family: 'Montserrat', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    
    background-color: white;
    z-index: 990;

    box-sizing: border-box;
    transition: 0.5s;
}

#logo {
  grid-area: logo ;
 
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
 
}

.DivExternaBurguer{
  grid-area: menuburguer ;
  
  display: flex ;
  align-items: center;
  justify-content: center;
  
}

#burger {
height: 40px;
cursor: pointer;

}

#burger div {
width: 30px;
height: 3px;
margin: 8px;


background-color: blue;
transition: all 0.3s ease-in;

}


.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 10px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



.overlay  {

   display: block;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 75px;
  background-color: rgb(0, 0, 0);
 /* background-color: rgba(255, 255, 255, 0.9);*/
 
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
 
  /*margin-top: 30px;*/
}



.NuxtLink{
     text-decoration: none;
}

.ItemPadrao{
    display: flex ;
    align-items: center;
    justify-content:flex-start;
    background-color: rgb(77, 77, 77);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font: 1.2rem verdana, arial, tahoma, sans-serif;
    
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(230, 230, 230);
}

.ItemMenuMobile{
    background-color: rgb(77, 77, 77);
}


.CategoriaDrop{
  display: flex ;
  align-items: center;
  justify-content:space-between;
  background-color:rgb(77, 77, 77);
    
}


.SubCategoriaDrop{
  display: flex ;
  align-items: center;
  justify-content:space-between;
  background-color: rgb(116, 116, 116);
    
  padding-left: 40px;
  
}

.ItemMenuDropMobile{
  display: flex ;
  align-items: center;
  justify-content:flex-start;
  background-color: rgb(116, 116, 116);
  
  padding-left: 40px;
  
   
}


.ItemMenuNivel3DropMobile{
  display: flex ;
  align-items: center;
  justify-content:flex-start;
  background-color: rgb(175, 175, 175);
 
  padding-left: 60px;
 
   
}


/*  novo exemplo */




 @media only screen and (max-width: 768px) {
.overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {

  
  .overlay  {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

}

</style>