<template>

<!--https://codepen.io/sheldonled/pen/Cfqmb-->
<!--https://webdevtrick.com/css-menu-hover-underline/-->



  <div class="OpcoesMenu" >
     
            <ul>
                <li class="ItemMenuPrincipal" v-if="(PopulaSubCategorias(categorias.idcategoria).length === 0)" v-for="categorias in $store.state.stLinkCateg.ListaLinkCategorias" :key="categorias.idcategoria">
                     <!--<div class="ItemMenu">Inicio</div>-->
                     <nuxt-link class="NuxtLink" :to="{ path: '/',hash:''}">
                            <div class="ItemMenu " v-if="$route.path !== categorias.link" @click="ClicouLinkPrincipal('')">{{ categorias.categoria }}</div>
                           <!-- <div v-else class="activeItemMobile"  @click="ClicouLink(categorias.hash)">{{ categorias.name }}</div>-->
                     </nuxt-link>
                </li>
                <li v-else >
                    <div class="ItemMenuDropDown">{{ categorias.categoria }} <span class="SetaDropDown">&#9661;</span></div>
                    <ul id="MenuDropNivel2" class="DropMenuNivel2">
                        <li v-if="(PopulaSub2Categorias(subcateg.idsubcategoria).length === 0)" v-for="subcateg in PopulaSubCategorias(categorias.idcategoria)" :key="subcateg.idsubcategoria">
                              <div class="ItemSubMenu" @click="ClicouMenuDrop('DropMenuNivel2')">{{ subcateg.subcategoria }}</div>
                        </li>
                        <li v-else>
                             <div class="ItemSubMenu"><p>{{ subcateg.subcategoria }}</p> <span class="SetaDropDown">&#9655;</span></div>
                             <ul id="MenuDropNivel3">
                                <li v-for="sub2categ in PopulaSub2Categorias(subcateg.idsubcategoria)" :key="sub2categ.idsub2categoria">
                                     <div class="ItemSubMenu" @click="ClicouLinkDrop('MenuDropNivel3')">{{ sub2categ.subcategoria }}</div>
                                </li>
                             </ul>
                        </li>
                    </ul>
                </li>
                
            </ul>

            
  </div>  

   

  
   
</template>

<script>




export default {
    name: "NavbarCategorias",
    props : {
        
    },
    components: {

                
    },
    computed: {
       
        PopulaSubCategorias() {

              return (idCateg) => {
                let ArraySubCateg = []
               
                if (this.$store.state.stLinkSubCateg.ListaLinkSubCategorias !== null)
                    ArraySubCateg = this.$store.state.stLinkSubCateg.ListaLinkSubCategorias.filter(function (item) {
                                                if (item.idcategoria === idCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                return ArraySubCateg;
             }
         },
         PopulaSub2Categorias() {

              return (idSubCateg) => {
                let ArraySub2Categ = []
               
                if (this.$store.state.stLinkSub2Categ.ListaLinkSub2Categorias !== null) {
                    ArraySub2Categ = this.$store.state.stLinkSub2Categ.ListaLinkSub2Categorias.filter(function (item) {
                                                if (item.idsubcategoria === idSubCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                       
                }

                return ArraySub2Categ;
             }
         },
         
        
    },
    data() {
        return {
             
            lastScrollTop :0,
           
        }
    }, // data
     methods: {
         ClicouLinkPrincipal() {

         },
         ClicouMenuDrop(NomeClasse) {
            let elems = document.querySelectorAll('.'+NomeClasse);
            console.log('elems = ', elems)

            for (let i = 0; i < elems.length; i++) {
                 const element = elems[i];
                 element.style.display = 'none'
              
            }
           
            
            setTimeout(function(){ 
              for (let i = 0; i < elems.length; i++) {
                 const element = elems[i];
                 element.style.display = 'block'
               }
            }, 200);
         },
         ClicouLinkDrop(idMenu) {
            
            console.log('document.getElementById(idMenu).style = ', document.getElementById(idMenu).style)
            document.getElementById(idMenu).style.display = 'none'
           
            setTimeout(function(){ 
               document.getElementById(idMenu).style.display = 'block'
              
            }, 100);
         },
         
       
     },
     created() {

     },
     mounted(){ 
        
        
     },
  

}
</script>

<style scoped>


.OpcoesMenu{ 

  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-height: 60px;
  background-color: var(--cornavbar);
}


.SetaDropDown{
  padding-left: 10px;
}



/* não alterar estrutura*/

ul ul{
    position: absolute; 
    margin: 0;
    opacity: 0;
    left:-9999em;
    /* display: none;*/
   /* list-style:none;*/
  /*  background: rgb(22, 160, 133);*/
  
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);
   
    padding: 0px 0px;
    background-color: rgb(253, 254, 255);
    z-index:995;
    border-radius: 10px;
    min-width:150px;
    max-width:250px;
    
    
}



li {
    display: inline-block;
    position: relative;
    
}


li:hover > ul {
    display: block;
    
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


ul ul li {
    display: block;
    height: 45px;
   
  	
}

ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    
}

/* fim estrutura principal */
/* extras  */
/*ul ul:not(:hover) {
    
}*/
/* efeito fadein fade out*/
ul li:hover ul {
  left: 0;
  opacity:1;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
 
}


ul li:not(:hover) ul {
  left:-9999em;
  opacity:0;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
}

ul li ul li:hover ul {
  left: 100%;
  opacity:1;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
 /* background-color: aqua;*/
}

ul li ul li:not(:hover) ul {
  left:-9999em;
  opacity:0;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
}



/* fim efeito fadein fade out*/

.ItemMenuPrincipal{
  margin-top: 15px;
  margin-bottom: 15px;
}

.ItemMenu {
  
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  color:rgb(138, 138, 138);
  height: 100%;  
  width: 100%;
  
  font-size: 17px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
 /* background-color: yellow;*/
  cursor: pointer;

}



.ItemSubMenu{
  
  display: flex ;
  align-items: center;
  justify-content:space-between;
  color:rgb(138, 138, 138);
  height: 100%;  
  width: 100%;
  
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  /*background-color: yellow;*/
  cursor: pointer;
}


.ItemMenuDropDown{
  
  display: flex !important;
  align-items: center;
  justify-content:flex-start;

  color:rgb(138, 138, 138);
  text-align: center;
  
  
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  cursor: pointer;
}

.ItemMenuDropDown:hover{
  color: rgb(47, 79, 255);
  cursor: pointer;
}


.ItemMenu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: rgb(47, 79, 255);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  
}

.ItemMenu:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  
}

.ItemMenu :hover{
 /* border-radius: 20px;
  background-color: rgb(223, 246, 255);*/
  color: rgb(47, 79, 255);
 /* cursor: pointer;*/
  border-radius: 10px;
  
}

.ItemSubMenu:hover{
 /* border-radius: 20px;*/
  background-color: rgb(223, 246, 255);
  color: rgb(47, 79, 255);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  
}


.NuxtLink{
     text-decoration: none;
}




 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>