<template>

<!--https://codepen.io/sheldonled/pen/Cfqmb-->
<!--https://webdevtrick.com/css-menu-hover-underline/-->



  <div id="NavBarCateg" :class="ClasseOpcoesMenu" >
     
            <ul>
                
               
                <li v-if="(PopulaSubCategorias(categorias.idcategoria).length === 0)" v-for="categorias in this.$store.state.stLinkCateg.ListaLinkCategorias" :key="categorias.idcategoria">
                     
                     <nuxt-link class="NuxtLink" :to="{ path: '/',hash:''}">
                            <div class="ItemMenu " v-if="$route.path !== categorias.link" @click="ClicouLinkPrincipal('')">{{ categorias.categoria }}</div>
                           <!-- <div v-else class="activeItemMobile"  @click="ClicouLink(categorias.hash)">{{ categorias.name }}</div>-->
                </nuxt-link>
                </li>
                <li v-else >   
                    <div class="ItemMenuDropDown"><div>{{categorias.categoria }} </div><div class="SetaDropDown">&#9661;</div></div>
                    <ul id="MenuDropNivel2" class="DropMenuNivel2">
                        <li v-if="(PopulaSub2Categorias(subcateg.idsubcategoria).length === 0)" v-for="subcateg in PopulaSubCategorias(categorias.idcategoria)" :key="subcateg.idsubcategoria">
                              <div class="ItemSubMenu" @click="ClicouMenuDrop('DropMenuNivel2')">{{ subcateg.subcategoria }}</div>
                        </li>
                        <li v-else>
                             <div class="ItemSubMenu"><div class="TituloSubMenu">{{ subcateg.subcategoria }}</div> <span class="SetaDropDown">&#9655;</span></div>
                             <ul id="MenuDropNivel3">
                                <li v-for="sub2categ in PopulaSub2Categorias(subcateg.idsubcategoria)" :key="sub2categ.idsub2categoria">
                                     <div class="ItemSubMenu" @click="ClicouLinkDrop('MenuDropNivel3')"><div class="TituloSubMenu">{{ sub2categ.subcategoria }}</div></div>
                                </li>
                             </ul>
                        </li>
                    </ul>
                </li>
              
            </ul>
          

           
  </div>  

   

  
   
</template>

<script>




export default {
    name: "NavbarCategorias",
    props : {
        
    },
    components: {

                
    },
    computed: {
        ClasseOpcoesMenu(){
               var classe='BarraSemEdicao fonteBarra';
                 
                if (this.$store.state.global.EdicaoSite) {
                   classe='BarraComEdicao fonteBarra';
                }
                
                return classe;
             
        },
        PopulaSubCategorias() {

              return (idCateg) => {
                let ArraySubCateg = []
               
                if (this.$store.state.stLinkSubCateg.ListaLinkSubCategorias !== null)
                    ArraySubCateg = this.$store.state.stLinkSubCateg.ListaLinkSubCategorias.filter(function (item) {
                                                if (item.idcategoria === idCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                return ArraySubCateg;
             }
         },
         PopulaSub2Categorias() {

              return (idSubCateg) => {
                let ArraySub2Categ = []
               
                if (this.$store.state.stLinkSub2Categ.ListaLinkSub2Categorias !== null) {
                    ArraySub2Categ = this.$store.state.stLinkSub2Categ.ListaLinkSub2Categorias.filter(function (item) {
                                                if (item.idsubcategoria === idSubCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                       
                }

                return ArraySub2Categ;
             }
         },
         
        
    },
    data() {
        return {
             
            lastScrollTop :0,
           
        }
    }, // data
     methods: {
         ClicouLinkPrincipal() {

         },
         ClicouMenuDrop(NomeClasse) {
            let elems = document.querySelectorAll('.'+NomeClasse);
            

            for (let i = 0; i < elems.length; i++) {
                 const element = elems[i];
                 element.style.display = 'none'
              
            }
           
            
            setTimeout(function(){ 
              for (let i = 0; i < elems.length; i++) {
                 const element = elems[i];
                 element.style.display = 'block'
               }
            }, 200);
         },
         ClicouLinkDrop(idMenu) {
            
            console.log('document.getElementById(idMenu).style = ', document.getElementById(idMenu).style)
            document.getElementById(idMenu).style.display = 'none'
           
            setTimeout(function(){ 
               document.getElementById(idMenu).style.display = 'block'
              
            }, 100);
         },
         EditarNavBar() {
                this.$store.dispatch('global/CommitAreaEdicaoConfig','NavBar');
                this.$store.dispatch('global/CommitTituloAreaEdicao','Menu');

                if (!this.$store.state.global.SideBarAtiva) 
                    this.$store.dispatch('global/CommitSideBarAtiva',true);
                else
                    this.$store.dispatch('global/CommitSideBarAtiva',false);
         }
       
     },
     created() {

     },
     mounted(){ 
        
        
     },
  

}
</script>

<style scoped>

.fonteBarra{
    font-family: var(--fontnavbar);
    color:  var(--corfontnavbar);
    font-size: var(--tamanhofontnavbar);
}



.BarraComEdicao{
  position:relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-height: 60px;
  background-color: var(--cornavbar);
}

.BarraComEdicao:hover {
 
  outline:3px solid blue;
  outline-offset: -3px;
}

.BarraSemEdicao{
 
  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-height: 60px;
  background-color: var(--cornavbar);
}

.btEdicaoNavBar {
  display: none;
  position:absolute;
  padding: 3px;
  bottom: -15px;
  right: calc(100vw/2);
 
  cursor: pointer;
}

.BarraComEdicao:hover #btEditarBarra{
    display:block;
}

.ImagemSeta{
  height: 20px;
  width: 20px;
}

.SetaDropDown{
  padding-right: 10px;
  padding-left: 10px;
}



/* não alterar estrutura*/


ul ul{
    position: absolute;
    margin: 0;
    opacity: 0;
    left:-9999em;
    
    /*list-style:none;*/
   /* list-style:none;
    /* display: none;*/
   /* list-style:none;*/
  /*  background: rgb(22, 160, 133);*/
  
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);
   
    padding: 0px 0px;
    background-color: rgb(251, 253, 255);
    z-index:995;
    border-radius: 10px;
   /* width: 100%;*/
    min-width: var(--larguraDropMenu);
    color: var(--corfontDropnavbar);
    
  
   /* max-height: 100px; */
   /* overflow-y:auto;*/
   /* overflow-x: hidden /* or whatever */
   /* overflow-y: auto;*/
    
}



li {
    display: inline-block;
    position: relative;
    
}


li:hover > ul {
    display: block;
    
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


ul ul li {
    display: block;
    height: 45px;
   
  	
}

ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    color: var(--corfontDropnavbar);
    /*width: auto;*/
}

/* fim estrutura principal */
/* extras  */
/*ul ul:not(:hover) {
    
}*/
/* efeito fadein fade out*/
ul li:hover ul {
  left: 0;
  opacity:1;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
 
}


ul li:not(:hover) ul {
  left:-9999em;
  opacity:0;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
}

ul li ul li:hover ul {
  left: 100%;
  opacity:1;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
 /* background-color: aqua;*/
}

ul li ul li:not(:hover) ul {
  left:-9999em;
  opacity:0;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
}



/* fim efeito fadein fade out*/



.ItemMenu {
  
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  color:var(--corfontnavbar) ;
  height: 100%;  
  width: 100%;
  
 /* font-size: 17px;*/
  /*padding-bottom: 5px;*/
  padding-left: 20px;
  padding-right: 20px;
 /* background-color: yellow;*/
  cursor: pointer;
  
}


.ItemMenu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background:var(--corfontnavbar) ;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  
}

.ItemMenu:hover::after {
  transform: scaleX(1);
  transform-origin: left;
 /* color: rgb(47, 79, 255);*/
}

.ItemMenu:hover{
 /* border-radius: 20px;
  background-color: rgb(223, 246, 255);*/
  /*color: rgb(47, 79, 255) ;*/
 /* cursor: pointer;*/
  border-radius: 10px;
  
}

.ItemSubMenu{
  
  display: flex ;
  align-items: center;
  justify-items: center;
  justify-content:space-between;
  /*color:rgb(138, 138, 138);*/
  height: 100%;  
  width: 100%;
  
 /* font-size: 17px;*/
 /* padding-left: 10px;*/
 /* padding-right: 10px;*/
  /*background-color: yellow;*/
  cursor: pointer;
  
}

.ItemSubMenu:hover{
 /* border-radius: 20px;*/
  background-color: rgb(223, 246, 255);
 /* color: rgb(47, 79, 255);*/
  cursor: pointer;
 /* width: 100%;
  height: 100%;*/
  border-radius: 10px;
}


.TituloSubMenu{

  padding-left: 10px;

}


.ItemMenuDropDown{
  
  display: flex ;
  align-items: center;
  justify-content:flex-start;

 /* color:rgb(138, 138, 138);*/
 /* text-align: center;*/
  
  
 /* font-size: 17px;*/
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  cursor: pointer;
}

.ItemMenuDropDown:hover{
 /* color: rgb(47, 79, 255);*/
  cursor: pointer;
}





.NuxtLink{
     text-decoration: none;
}




 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>