<template>

<!--https://codepen.io/sheldonled/pen/Cfqmb-->
<!--https://webdevtrick.com/css-menu-hover-underline/-->

<nav id="navbar">
  

  <div class="OpcoesMenu">
     
            <NavbarCategorias/>
  </div>  
  <div class="DivCarrinhoELogin">

        <Carrinho  />
                
  </div>
   
</nav>
  
   
</template>

<script>

import NavbarCategorias from '~/components/NavBarComp/NavbarCategorias.vue'

import Carrinho from '~/components/NavBarComp/carrinho.vue'

export default {
    name: "NavbarPC",
    props : {
        
    },
    components: {
        NavbarCategorias,
        Carrinho,

                
    },
    computed: {
       
        
    },
    data() {
        return {
            
            lastScrollTop :0,
            navbar:Object,
        }
    }, // data
     methods: {
        
        
       
       
     },
     created() {

     },
     mounted(){ 
          this.navbar = document.getElementById("navbar");
          this.navbar.style.top = "-60px"
        let v = this;
        window.addEventListener("scroll",function(){
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if (v.$store.state.global.InputPesquisaAberta) 
               v.$store.dispatch('global/CommitInputPesquisaAberta',false);
         // console.log('scrollTop:', scrollTop)
          if ((scrollTop > v.lastScrollTop) || (scrollTop < 200)) {

            //console.log('largura scroll em nav:', v.$store.state.global.LarguraTela)
           /* if (v.larguraTela < 1024) {
                v.navbar.style.top = "-150px"
            } else*/
                v.navbar.style.top = "-60px"
          } else {
            v.navbar.style.top = "0px"
          }
          v.lastScrollTop = scrollTop; 
        })
        
     },
  

}
</script>

<style scoped>


nav {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);

    width: 100%;
    display: grid ;
    grid-template-rows: 60px ; 
    grid-template-columns: auto 120px ;
    grid-template-areas: "opcoesmenu carrinhoelogin";

    height: 60px;
    max-height: 60px;
    font-family: 'Montserrat', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    
    background-color: white;
    z-index: 990;

    box-sizing: border-box;
    transition: 0.5s;
}


.DivCarrinhoELogin{
  grid-area: carrinhoelogin ;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-height: 60px;
  background-color: var(--cornavbar);
  
}

.OpcoesMenu{
  grid-area: opcoesmenu ;
  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color: var(--cornavbar); 
}



.NuxtLink{
     text-decoration: none;
}




 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>