<template>

<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_filter -->

<div class="dropdown" >
    
    <div id="btpesquisa" class="ExternaPesquisa" @click="HabilitarOuDesabilitarInputPesquisaAberta()">
       <img class="ImgIcone" src="pesquisa.png" alt="ImgIcone">
   </div>
    <div  id="DropPesquisa" class="droppesquisa-content" v-if="$store.state.global.InputPesquisaAberta">
        <div class="ItemMenuSearch">
            <input type="search" id="inputsearch" name="inputsearch" placeholder="Pesquisar">
        </div>
        
    </div>
</div>
   
</template>

<script>




export default {
    name: "pesquisa",
    props : {
        
    },
    components: {
                
                
    },
    computed: {
        
        
    },
    data() {
        return {
        
        }
    }, // data
     methods: {
          SelecaoPesquisa() {
            document.getElementById("DropPesquisa").classList.toggle("show");
          },
          HabilitarOuDesabilitarInputPesquisaAberta() {
           if (!this.$store.state.global.InputPesquisaAberta) 
               this.$store.dispatch('global/CommitInputPesquisaAberta',true);
           else
               this.$store.dispatch('global/CommitInputPesquisaAberta',false);
          },
        
       
     },
     created() {

     },
     mounted(){ 
          
       

       
     },
  

}
</script>

<style scoped>

.ImgIcone{
    max-width: 25px;
    max-height: 25px;
}

#inputsearch {
  box-sizing: border-box;
  background-image: url('/pesquisainput.png');
  background-position: 5px 8px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: 1px solid #ddd;
  
  border-radius: 25px;
}

#inputsearch:focus {outline: 3px solid #ddd;}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.ExternaPesquisa{
     position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    max-height: 41px;
    padding-left: 8px;
    padding-right: 8px;
    
    
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 25px;
    
    
}

.ExternaPesquisa:hover, .ExternaPesquisa:focus{
    background-color: white;
}


.droppesquisa-content {
  display: block;
  position: absolute;
  background-color: transparent;
  
  min-width: 230px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  border: none;
  border-radius: 25px;
  z-index: 1;
}


/*.show {display: block;}*/

.ItemMenuSearch{

}

 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>