:root {
  --cornavbar: #ffffff;
  --corfontnavbar: #000000;
  --corfontDropnavbar:#000000;
  --fontnavbar: 'Arial narrow';
  --tamanhofontnavbar: 13px;
  --larguraDropMenu: 200px;
}


.fxlineinicio{
  display: flex ;
  align-items: center;
  justify-content: flex-start;
}

.fxlineCenter{
display: flex ;
align-items: center;
justify-content: flex-start;
}