<template>
  <div>
    
   <!-- <TopoLogo :key="$store.state.global.KeyImgsLoadFetch"/>-->
   <TopoLogo />

   <NavbarCategorias/>
    
   <NavbarPC v-if="($store.state.global.LarguraTela >= 1024)"/>
  <!-- <NavBarMobile v-if="($store.state.global.LarguraTela < 1024)"/>-->
   <nuxt/>

   <SideBarDireita >
      <!--
      <NavBarConfiguracoes v-else-if="$store.state.global.AreaEdicaoConfig === 'NavBar'"/>-->
   </SideBarDireita>

  </div>
</template>



<script>

import NavBarMobile from '~/components/NavBarComp/NavBarMobile.vue'
import NavbarPC from '~/components/NavBarComp/NavbarPC.vue'
import NavbarCategorias from '~/components/NavBarComp/NavbarCategorias.vue'
import SideBarDireita from '~/components/SideBar/SideBarDireita.vue'


import TopoLogo from '~/components/TopoLogo/TopoLogo.vue'


export default {
      components: {
          NavBarMobile,
          NavbarCategorias,
          NavbarPC,
          SideBarDireita,
          TopoLogo,
          
      },
    methods: { 
        larguraDaTela() {
            this.$store.dispatch('global/CommitLarguraTela',window.innerWidth);       
           // console.log('largura tela store defaut:', this.$store.state.LarguraTela)          
        },
    },
    mounted(){ 
        
          this.$store.dispatch('global/CommitLarguraTela',window.innerWidth); 
          window.addEventListener('resize', this.larguraDaTela);
    },
    beforeDestroy() { 
    
            window.removeEventListener('resize', this.larguraDaTela); 
    },
}
</script>


<style>

html {
 /* font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;*/
}

*, *:before, *:after {
 /* box-sizing: border-box;*/
  margin: 0;
}






</style>

