<template>
<div>
 
  <!--<div class="Menu">
      <NavbarCategorias/>
  </div>-->
  <section class="container"> 
    <div>
     
      <div class="conteudo">
              <div >TESTES 2</div>
              
              <label for="fIDProduto">Código do produto:</label>
              <input type="text" v-model="IDProdutoInserir" id="fIDProduto" name="fIDProduto">
              <button @click="InserirProduto()">Inserir Produto</button>
             <div > 
                
                    <div  v-for="itemProduto in PopulaProdutosCategOuSubCat2" :key="itemProduto.idprodcategsite">
                          <NuxtLink :to="'produto/'+ itemProduto.idproduto.toString() ">
                                {{itemProduto.produto}}
                          </NuxtLink>
                      
                  </div>
             </div>

              <div>var NomeProjGitLab : {{$config.NomeProjGitLab}} </div>
              <div>var baseStatics : {{$config.baseStatics}} </div>
              
              <div>var Modo : {{Modo}} </div>
              <button @click="InserirCategoria()">Inserir categoria</button>
              <button @click="Publicar()">Publicar site</button>
              <div>{{contadorAcessos}}</div>
              <div>{{MsgJob}}</div>
      </div>
    </div>
  </section>

  <!--<SideBarDireita >
      <TopoLogoEOutros />
  </SideBarDireita>-->
</div>
</template>

<script>
//import AppLogo from '~/components/AppLogo.vue'
const config = require('../nuxt.config.js')
//import NavBarMobile from "~/components/NavBarComp/NavBarMobile.vue";
//import NavbarCategorias from '~/components/NavBarComp/NavbarCategorias.vue'
//import SideBarDireita from '~/components/SideBar/SideBarDireita.vue'
//import TopoLogoEOutros from '~/components/SideBar/TopoLogoEOutros.vue'

export default {
  async asyncData({$axios,$config,store}) {
      
        var params = {idrevenda:$config.idrevenda,idtipousuario:10}
              store.dispatch('stLinkCateg/PopulaLinkCategorias',params).then(function(obj) {
                  console.log('stLinkCateg/PopulaLinkCategorias: ', store.state.stLinkCateg.ListaLinkCategorias)
              }) 

               var params = {idrevenda:$config.idrevenda,idtipousuario:10}
              store.dispatch('stLinkSubCateg/PopulaLinkSubCategorias',params).then(function(obj) {
                  console.log('stLinkSubCateg/PopulaLinkSubCategorias: ', store.state.stLinkSubCateg.ListaLinkSubCategorias)
              })

               var params = {idrevenda:$config.idrevenda,idtipousuario:10}
              store.dispatch('stLinkSub2Categ/PopulaLinkSub2Categorias',params).then(function(obj) {
                  console.log('stLinkSub2Categ/PopulaLinkSub2Categorias: ', store.state.stLinkSub2Categ.ListaLinkSub2Categorias)
              }) 
        
       
              var paramsProdsCateg = {idrevenda:$config.idrevenda}
              store.dispatch('stprodcategsite/PopulaProdutoCategSite',paramsProdsCateg).then(function(obj) {
                         
                         // console.log('$store.state.global.CommitKeyImgsLoadFetch ok: ', store.state.global.CommitKeyImgsLoadFetch)  
              })
       
  },
  async fetch() {  
              var paramsSiteConfig= {idrevenda:this.$config.idrevenda}
              let v = this;
              this.$store.dispatch('stRevenda/PesquisaSiteConfig',paramsSiteConfig).then(function(obj) {
                  v.CarregaVariaveisCSS();
                  console.log('SiteConfiguracoes: ', v.$store.state.stRevenda.SiteConfiguracoes)
              })

  },
  /*async fetch() {
    //this.planets = await fetch('https://api.nuxtjs.dev/planets').then(res =>
   //   res.json()
   // )
            let v = this
            console.log('Entrou fetch');  
            let caminho = v.$axios.defaults.baseURL + "/padrao/"   
            var instrucaoCateg = "SELECT idcategoria,categoria,posicao FROM categsite WHERE idsiteconfig = " + this.$config.idSiteConfig + ";"
            
            var  resp = await v.$axios.get(`${caminho}${instrucaoCateg}`)
            if (resp.status === 200) {
                for (let i = 0; i < resp.data.dados.length; i++) {
                  resp.data.dados[i].submenuaberto = false;
                }

                var params = {dados:resp.data.dados}

                v.$store.dispatch('stCategoriasSite/CommitSET_Categorias',params) //.then(function(obj) { })
                //console.log('v.CategoriasSite dispatch -====., ',v.$store.state.global.ListaCategorias)
                            
                var instrucaoSubCateg = "SELECT idsubcategoria,idcategoria,subcategoria,posicao FROM subcategsite WHERE idsiteconfig = " + this.$config.idSiteConfig + ";"
                var respSubCat = await v.$axios.get(`${caminho}${instrucaoSubCateg}`)
               // console.log('respSubCat -====., ',respSubCat.data.dados)
                if (respSubCat.status === 200) {
                    for (let i = 0; i < respSubCat.data.dados.length; i++) {
                      respSubCat.data.dados[i].submenuaberto = false;
                    }
                    params = {dados:respSubCat.data.dados}
                    v.$store.dispatch('global/CommitSubCategoria',params) //.then(function(obj) { })
                    var instrucaoSub2Categ = "SELECT idsub2categoria,idsubcategoria,subcategoria,posicao FROM sub2categsite WHERE (idsiteconfig = " + this.$config.idSiteConfig + ");"
                    var respSub2Cat = await v.$axios.get(`${caminho}${instrucaoSub2Categ}`)
                 //   console.log('respSub2Cat -====., ',respSub2Cat.data.dados)
                    if (respSub2Cat.status === 200) {
                        params = {dados:respSub2Cat.data.dados}
                        v.$store.dispatch('global/CommitSub2Categoria',params)
                    }
                   // console.log('v.ListaSubCategorias dispatch -====., ',v.$store.state.global.ListaSubCategorias)
                   
                }  
             }

              var paramsSiteConfig= {idsiteconfig:v.$config.idSiteConfig}
              v.$store.dispatch('stRevenda/PesquisaSiteConfig',paramsSiteConfig).then(function(obj) {
                  // console.log('SiteConfiguracoes: ', v.$store.state.stRevenda.SiteConfiguracoes)
                  if (obj.status === 200) {
                      var paramsProdsCateg = {idSiteConfig:v.$config.idSiteConfig}
                      v.$store.dispatch('stprodcategsite/PopulaProdutoCategSite',paramsProdsCateg).then(function(obj) {
                         
                         // console.log('$store.state.global.CommitKeyImgsLoadFetch ok: ', v.$store.state.global.CommitKeyImgsLoadFetch)  
                      })
                  }
             })
             
                        
            
            
  },*/
  fetchOnServer: false,   // deixar ativa  para executar local
  components: {
    //NavBarMobile
   // NavbarCategorias,
    //SideBarDireita,
    //TopoLogoEOutros
  },
  computed: {
      
       PopulaProdutosCategOuSubCat2() {

                let ArrayProdutos = []
                let v = this
                
                if (this.$store.state.stprodcategsite.ProdutosCategSite !== null) 
                    ArrayProdutos = this.$store.state.stprodcategsite.ProdutosCategSite.filter(function (item) {
                                                if (item.idcatgsite === v.$store.state.global.idcatgsite) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                console.log('PopulaProdutosCategOuSubCat depois-====., ',ArrayProdutos) 
                return ArrayProdutos;
         },


        
  },
  data() {
        return {
          Modo:'',
          idCategoria:0,
          contadorAcessos:0,
          MsgJob:'',
          IDProdutoInserir:'',
          TesteLoad:null, 
          
         
         
        }
  }, // data
  methods: {
          
       /* PopulaSubCategorias() {

                                 
                    let v = this
                    let params = {idsiteconfig:this.$config.idSiteConfig}
                    console.log('popula sub-categ  -====this.$config.idSiteConfig =  ',this.$config.idSiteConfig)
                        
                      this.$store.dispatch('global/PopulaSubCategoriasSite',params).then(function(obj) {
                          //console.log('PopulaSubCategoriasSite depois-====., ',v.$store.state.global.ListaSubCategorias)
                          //if (v.$store.state.global.ListaSubCategorias !== undefined) {
                              return obj                                  
                         // }

                         // console.log('v.SubCategoriasSite nossos servicos cad categoria null -====., ',v.$store.state.global.ListaSubCategorias)
                      });
                
          }*/
       
          Publicar(){
              //https://medium.com/@gairikaluni/gitlab-repository-rest-api-using-javascript-67fc20146872
              //https://docs.gitlab.com/ee/api/repository_files.html#update-existing-file-in-repository
               let v = this
               var jsonData={ "data": "16/03/2021"}
               const payload = {
                  branch: "master",
                  commit_message: 'Appropriate commit message',
                  content: JSON.stringify(jsonData), //content: "blabla"
                };
               
                  var url = 'https://gitlab.com/api/v4/projects/25189069/repository/files/altusuarios.json'             
               // var url = 'https://gitlab.com/api/v4/projects/25189069/repository/files/altusuarios.json/raw?ref=master'
               // "https://gitlab.example.com/api/v4/projects/13083/repository/files/app%2Fproject%2Erb"
                fetch(url, {
                method: 'PUT',
                headers: {
                  'PRIVATE-TOKEN': 'ztqSBWu7VGLoLo1TtQc6',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload)
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Success:', result);
                    v.VerificaStatusJob();
                })
                .catch(error => {
                    console.error('Error:', error)
                });
          },
          VerificaStatusJob() {
            let v = this
            let Intervalo = setInterval(
                     function(){
                       
                        let url = 'https://gitlab.com/api/v4/projects/25189069/jobs'             

                        fetch(url, {
                            method: 'GET',
                            headers: {
                              'PRIVATE-TOKEN': 'ztqSBWu7VGLoLo1TtQc6',
                              'Content-Type': 'application/json',
                            }
                            })
                            .then(response => response.json())
                            .then(result => {
                                v.contadorAcessos++;
                                v.MsgJob = 'Aguarde alguns minutos. Pode demorar no máximo 30 minutos mas geralmente ates de 5 minutos é publicado !'
                                console.log('Success:', result);
                                console.log('Success:', result[0].status);
                                if (result[0].status === 'failed') {
                                    clearInterval(Intervalo);
                                    v.MsgJob = 'Erro ao publicar o site !' 
                                } else 
                                if (result[0].status === 'success') {
                                    clearInterval(Intervalo);
                                    v.MsgJob = 'Site publicado com sucesso !' 
                                }  

                            })
                            .catch(error => {
                                console.error('Error:', error)
                            });
                                }, 
                        5000);
          },
          InserirCategoria() {
                          
              let v = this
              let params = {categoria:'Nova categoria',
                            idsiteconfig: this.$config.idSiteConfig,
                            tipo:1 //se é paginas do site (=0 )ou produtos =1 
                           }
                  this.$store.dispatch('stCategoriasSite/InsereCategoria',params).then(res=>{
                    console.log('resposta dispacth inserir categoria',res)
                    if (!res.Erro) {
                          var reg = {}
                          reg.idcategoria = res.id
                          reg.categoria = 'Nova categoria'
                          reg.posicao = res.posicao

                       

                          //v.CategoriasSite.push(reg);
                         // this.AtivaSnack('Categoria ' + 'Nova categoria' + ' inserida com sucesso!',false,2000,false,'NÃO',false)
                         
                         // v.CategoriaImput = '';
                          
                        
                    } else {
                       // this.AtivaSnack(res.msgErro,false,2000,false,'NÃO',false)
                    }
                  })  
              },
              InserirProduto() {
                let v = this
                let params = {idproduto: this.IDProdutoInserir}
                this.$store.dispatch('stprodutos/PesquisaProduto',params).then(res=>{
                           // console.log('resposta dispacth PesquisaProduto',res)
                           // console.log('resposta dispacth PesquisaProduto',res.dados[0].produto)
                            if (!res.Erro) {
                              // rever
                                  params = {idproduto: v.IDProdutoInserir,produto: res.dados[0].produto,
                                        idrevenda: v.$config.idrevenda,
                                        idcatgsite:v.$store.state.global.idcatgsite,
                                        idsubcategsite:v.$store.state.global.idsubcategsite,
                                        idsub2categsite:v.$store.state.global.idsub2categsite,
                                        precovenda:0,  posicao:2000,status:0}

                                  v.$store.dispatch('stprodcategsite/InsereProdutoCategSite',params).then(res=>{
                                        console.log('inserir InsereProdutoCategSite res',res)
                                       // if (!res.Erro) {
                                              console.log('inserir InsereProdutoCategSite $store.state.stprodcategsite.ProdutosCategSite',v.$store.state.stprodcategsite.ProdutosCategSite)
                                             
                                      //  } else {
                                          // this.AtivaSnack(res.msgErro,false,2000,false,'NÃO',false)
                                      //  }
                                  }) 
                            } else {
                              // this.AtivaSnack(res.msgErro,false,2000,false,'NÃO',false)
                            }
                  })  
                          
                          
                          
              },
              CarregaVariaveisCSS() { 
                if ((this.$store.state.stRevenda.SiteConfiguracoes.length === 1) && (this.$store.state.stRevenda.SiteConfiguracoes !== undefined)) {
                    
                    if (this.$store.state.stRevenda.ObjConfig.hasOwnProperty('cornavbar')) {
                        var cor = this.$store.state.stRevenda.ObjConfig.cornavbar;
                        document.documentElement.style.setProperty('--cornavbar', cor);
                    }
                    if (this.$store.state.stRevenda.ObjConfig.hasOwnProperty('corfontnavbar')) {
                        var corFont = this.$store.state.stRevenda.ObjConfig.corfontnavbar;
                        document.documentElement.style.setProperty('--corfontnavbar', corFont);
                    }
                    if (this.$store.state.stRevenda.ObjConfig.hasOwnProperty('tamanhofontnavbar')) {
                        var TamFont = this.$store.state.stRevenda.ObjConfig.tamanhofontnavbar;
                        document.documentElement.style.setProperty('--tamanhofontnavbar', TamFont+'px');
                    }
                    if (this.$store.state.stRevenda.ObjConfig.hasOwnProperty('fontnavbar')) {
                        var fonte = this.$store.state.stRevenda.ObjConfig.fontnavbar;
                        document.documentElement.style.setProperty('--fontnavbar', fonte);
                    }
                    if (this.$store.state.stRevenda.ObjConfig.hasOwnProperty('larguraDropMenu')) {
                        var TamMenuDrop = this.$store.state.stRevenda.ObjConfig.larguraDropMenu;
                        document.documentElement.style.setProperty('--larguraDropMenu', TamMenuDrop+'px');
                    }
                    if (this.$store.state.stRevenda.ObjConfig.hasOwnProperty('corfontDropnavbar')) {
                        var corFont = this.$store.state.stRevenda.ObjConfig.corfontDropnavbar;
                        document.documentElement.style.setProperty('--corfontDropnavbar', corFont);
                    }
                }
              
              },
              TestesLoadFetch() {
                if (this.$store.state.stRevenda.SiteConfiguracoes.length > 0) {
                    var keyImgsLoadFetch = this.$store.state.global.KeyImgsLoadFetch + 'x'
                    this.$store.dispatch('global/CommitKeyImgsLoadFetch',keyImgsLoadFetch); 
                    console.log('this.$store.state.global.KeyImgsLoadFetch ',this.$store.state.global.KeyImgsLoadFetch)
                    this.stopTestesLoadFetch();
                }
              },
              stopTestesLoadFetch() {
                let v = this
                clearInterval(v.TesteLoad);
              }
              

         
         
       
  },
  mounted(){
           let v = this
           const isDev = process.env.NODE_ENV !== 'production'
           if (isDev)
              this.Modo = 'Desenvolvimento'
            else
              this.Modo = 'Produção'

        
           console.log('process.env.NODE_ENV : ', process.env.NODE_ENV)  
           console.log('process.env isDev 2 : ', isDev)  
           console.log('$config.NomeProjGitLab : ', this.$config.NomeProjGitLab)  
           console.log('$config.idrevenda : ', this.$config.idrevenda)  
         //  console.log('this.$store.state.global.ListaSubCategorias : ', this.$store.state.global.ListaSubCategorias)  
         //  console.log('$store.state.stprodcategsite.ProdutosCategSite : ', this.$store.state.stprodcategsite.ProdutosCategSite)  
          
          //    this.TesteLoad = setInterval(v.TestesLoadFetch, 100); 
           
  }
}
</script>



<style scoped>


.container { 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo{
  padding-top: 150px;
  width: 400px;
  height: 1900px;
  background-color: yellow;
}



</style>

