<template>

   <div class="DivPrincipalProduto">
        <h1>Pag produto dinamica</h1>
        <h1>parametro {{$route.params}}</h1>
        <h1>slug {{$route.params.idproduto}}</h1>
        
       <!-- <pre>{{$data}}</pre>-->
        <h1>Retorno : {{Produto.dados[0].produto}}</h1>
        
   </div>
   
</template>

<script>




export default {
     name: 'idproduto',
     async asyncData({$axios,params}) {
       //  this.produtos = await fetch('https://api.nuxtjs.dev/planets').then(res =>
      //     res.json()
      //   )
         let caminho = $axios.defaults.baseURL + "/produto/" 
         var Produto =  await fetch(`${caminho}${params.idproduto}`).then(res =>
              res.json()
              
          )

          return {Produto}
     },
    /* async fetch({params}) {
          let v = this 
          console.log("params fetch", params);
          let caminho = 'http://localhost:3001' + "/padrao"   
          let instrucao = "SELECT produto, precovenda , "+ 
                          "FROM produto  " + 
                          "WHERE (idproduto = " + params.idproduto  + ");"


            let formData = new FormData()              
            formData.append("instrucaoSQL",instrucao);
            formData.append("tipoInstrucao",0); // 0 =select 1,2,3 insert,update,delete
        
            let  resp = await this.$axios.put(caminho,formData)
            if (resp.status === 200) {
                //console.log("resp produto", resp);
                if (resp.data.dados.length > 0)
                   v.Produto = resp.data.dados[0]
            }  
     },*/
    props : {
        
    },
    components: {
                
                
    },
    computed: {
        
        
    },
    data() {
        return {
         // Produto:[],
          //paramID:''
        }
    }, // data
     methods: {
          
        
       
     },
     created() {

     },
     mounted(){ 
          console.log('params rota : ',this.$route.params)
        
     },
  

}
</script>

<style scoped>

.DivPrincipalProduto{
   padding-top: 120px;

}

 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>